.u-clearfix::after {
    content: '';
    display: block;
    clear: both;
}
.u-hidden {
    overflow: hidden;
    position: absolute;
    left: -10000px;
    clip:   rect(1px,1px,1px,1px);
    width:  1px;
    height: 1px;
    border: 0;
}
caption.u-hidden {
    position: static;
}
.l-wrapper { 
    max-width: 90%;
    width: 1200px;
    margin: 0 auto; 
    box-sizing: border-box;
}
.l-row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -0.5em;
}
.l-col {
    box-sizing: border-box;
    padding:0 0.5em;
}
.l-col-4 { width: 33.333333333% }
.l-col-6 { width: 50% }

.w-100 { width: 100%; }
.blind { z-index: -1px; overflow:hidden; visibility:hidden; position:absolute; text-indent: -9999em; display: none; }